.main {
    min-height: 510px;
    padding: 24px 0 8px;
    background-color: $bg-color-grey;
}
.title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    margin-bottom: 24px;
    &::before {
        content: url("../icons/side-line-icon.svg");
        width: 4px;
        height: 40px;
    }
}
.horiz-menu {
    display: flex;
    justify-content: space-between;
    gap: 19px;
    margin: 0 16px 24px;
    overflow-x: scroll;
    &__link {
        display: inline-block;
        padding: 8px 12px;
        white-space: nowrap;
        text-decoration: none;
        border: 2px solid $bg-color-grey;
        border-radius: 6px;
        &:focus {
            border: 2px solid #B8FFEC;
            border-radius: 6px;
            background: #FFF;
            outline: none;
            transition: all 0.2s linear;
        }
        &:hover {
            background: linear-gradient(90deg, rgba(184,255,236,0.9) 5%, rgba(255,255,255,1) 25%,
                                               rgba(255,255,255,1) 75%, rgba(184,255,236,0.9) 95%);
        }
        &:active {
            color: $text-color-dark;
            transition: color 0.2s linear;
        }
    }
}
.company-descr {
    &__text {
        padding: 0 16px 16px;
    }
    &__visible-768 {
        display: none;
    }
    &__visible-1120 {
        display: none;
    }
}
.read-more {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;
    &__arrows::before {
        content: url("../icons/arrows-to-bottom-icon.svg");
        width: 24px;
        height: 24px;
    }
    &__link {
        text-decoration: none;
    }
}